body {
    background-color: lightgray;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    border: 1px solid black;
    height: 10px;
    width: 10px;
}