body {
    background-color: lightgray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

#container {
    display: grid;
    height: 800px;
    width: 800px;
}

.square {
    border: 1px solid darkgray;
}

.square-colored {
    background-color: black;
}