body {
    background-color: lightgray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: repeat(16, calc(800px/16) [col-start]);
    grid-template-rows: repeat(16, calc(800px/16) [row-start]);
}

.square {
    border: 1px solid darkgray;
    height: calc(800px/16);
    width: calc(800px/16);
}

.square:hover {
    background-color: black;
}